.profile__edit-button {
    background: url(../../../images/edit-button.svg) center no-repeat;
    background-size: 10px;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    transition: opacity .5s;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 440px) {
    .profile__edit-button {
        background-size: 7.5px;
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}