.form__save-button {
    width: 100%;
    min-height: 50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 50px;
    padding: 0;
    cursor: pointer;
    transition: opacity .3s;
  }
  
  .form__save-button:hover {
    opacity: .8;
  }
  
  @media screen and (max-width: 320px) {
    .form__save-button {
      margin: 42px 0 0;
      font-size: 14px;
      line-height: 18px;
    }
  }