.profile {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 890px) {
    .profile {
        flex-direction: column;
        margin: 0 auto 36px;
        width: 80%;
    }
}