.popup__close-button {
    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-color: transparent;
    border: none;
    width: 32px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -35px;
    right: -40px;
    cursor: pointer;
    transition: opacity .3s;
  }
  
  .popup__close-button:hover {
    opacity: .6;
  }
  
  @media screen and (max-width: 550px) {
    .popup__close-button {
      width: 20px;
      background-size: cover;
      top: -37px;
      right: 0;
    }
  }