.element__remove {
    background-image: url(../../../images/delete-icon.svg);
    background-color: transparent;
    height: 19px;
    width: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .3s;
}

.element__remove:hover {
    opacity: .6;
}