.profile__edit-name {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 440px) {
    .profile__edit-name {
        padding-left: 25px;
    }
}